.body {
    background-color:orange;
    color: white;
    height: 4.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
  font-size: 24px;
  padding-left: 1.5em;
}

.menuitems {
  padding-right: 3vw;
  display: flex;
  gap: 50px;
}

.navlink {
    color: white;
    text-decoration: none;
}

.navlink:hover {
    text-decoration: underline;
}
.newPost {
    align-items: center;
    background-color:purple;
    text-align: center;
    color: white;
    justify-content: space-between;
    display: center;
    margin-top:10px;
    margin-left: 50px;
}